# Fichiers et dossiers générés par Visual Studio
.vs/
*.csproj.user
*.suo

# Fichiers binaires et objets
bin/
obj/

# Paramètres spécifiques à l'environnement de développement

# Fichiers journaux
*.log
wwwroot